# Secrets
.env

# Outputs and Temp files
cwl_tmp/
archive/
*.log

# Python & Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/
.virtual_documents/

.DS_Store
steps/.DS_Store
output_data/.DS_Store
input_data/.DS_Store
config/.DS_Store